.main {
  height: 100%;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.852);
  position: relative;
  display: flex;
  flex-direction: column;
}
.navbar {
  height: 75px;
  max-width: 2160px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 20px;
  transition: all.5s;
}
.adminPage {
  height: 100%;
  width: 100%;
  display: flex;
}
.leftLogo {
  height: 100%;
  width: 100%;
  font-size: 24px;
  font-weight: 800;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: default;
  margin-top: 30px;
}
.left {
  height: auto;
  width: 245px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: default;
  margin-top: 20px;
}
.leftItems {
  height: 100%;
  width: auto;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.leftItems li::selection, .leftItems li span::selection, .leftLogo::selection{
  background: #000;
  color: #fff;
}
.leftItemsData span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.leftProducts,
.leftSlider {
  height: 100%;
  margin: 15px 0 -5px 0;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.vlineAfter {
  width: 2px;
  height: 80%;
  background-color: black;
  position: absolute;
  left: 212px;
  top: 75px;
  border-radius: 10px;
}
.right {
  height: 100%;
  width: 100%;
  margin-left: 10px;
  border-top: 3px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.dashboard {
  font-size: 1.6rem;
  margin: 1.3rem 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard::selection {
  background: black;
  color: white;
}
.rowOne {
  height: auto;
  width: 90%;
  margin: 1rem 0 0 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.orders,
.customers,
.products {
  height: 150px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
}
.orders {
  background-color: yellowgreen;
  box-shadow: 6px 6px 30px yellowgreen;
}
.ordersText::selection {
  background: black;
  color: yellowgreen;
}
.customersText::selection {
  background: black;
  color: rgba(71, 71, 255, 0.704);
}
.productsText::selection {
  background: black;
  color: indianred;
}
.customers {
  background-color: rgba(71, 71, 255, 0.704);
  box-shadow: 6px 6px 30px rgba(71, 71, 255, 0.704);
}
.products {
  background-color: indianred;
  box-shadow: 6px 6px 30px indianred;
}
.rowOneIcons {
  font-size: 3.5rem;
}
.rowTwo,
.rowThree {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rowTwoItems {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(56, 56, 56, 0.852);
  height: 400px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowThreeItems {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(56, 56, 56, 0.852);
  height: 420px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
