.skele {
  margin-bottom: 100px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartMainLengthLessThanFour {
  height: 100vh;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.852);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cartMain {
  height: 100%;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.852);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cartNoItems {
  height: 100vh;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.852);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: all 0.5s;
}
/* When no products are there */
.noLikedItemsBox,
.noLikedItems {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 30px 0px 0px;
}
.noLikedItemsOne {
  font-size: 2.6rem;
  padding-left: 50px;
  font-weight: 600;
  cursor: default;
}
.noLikedItemsTwo {
  font-size: 1.8rem;
  padding-left: 50px;
  font-weight: 500;
  cursor: default;
}
.navigateToHomeButtonBox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigateToHomeButton {
  height: 40px;
  width: 150px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #db4444;
  cursor: default;
}
.topLeft {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 50px 40px 0px;
  cursor: default;
  font-weight: 600;
}
.home,
.wishlist {
  height: auto;
  width: auto;
  color: grey;
  font-size: 1rem;
}
.cart {
  height: auto;
  width: auto;
  color: black;
  font-size: 1rem;
}
.bottom {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2.7rem;
  padding-left: 4%;
  margin-top: 50px;
  margin-bottom: 80px;
}
/* Heading and Data*/
.bottomProductBox,
.bottomProductBoxData {
  height: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -3px -2px 5px rgba(0, 0, 0, 0.129);
  border-radius: 5px;
  padding: 0 15px;
  font-size: 1rem;
  cursor: default;
  transition: height 0.3s linear;
}
/* Heading */
.bottomProductBoxProduct,
.bottomProductBoxPrice,
.bottomProductBoxQuantity,
.bottomProductBoxSubtotal {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1rem;
  font-weight: 600;
}
.bottomProductBoxProduct {
  width: 30%;
  justify-content: center;
  padding-right: 11%;
}
/* Data */
.bottomProductBoxDataProduct,
.bottomProductBoxDataPrice,
.bottomProductBoxDataQuantity,
.bottomProductBoxDataSubtotal {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bottomProductBoxDataProduct {
  width: 30%;
  gap: 2rem;
}
.bottomProductBoxDataProductImg {
  height: 100%;
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomProductBoxData:hover .closeBox {
  opacity: 1;
}
.closeBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 0;
  left: -10px;
  border-radius: 10px;
  background-color: #db4444;
  font-size: 0.8rem;
  color: white;
  font-weight: 800;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.bottomProductBoxDataProductImg img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.bottomProductBoxDataProductName,
.bottomProductBoxDataPrice {
  font-size: 0.94rem;
  font-weight: 600;
}
.bottomProductBoxDataQuantity {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 11px;
}
.bottomProductBoxDataQuantityInput {
  height: 35px;
  width: 50px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}
@media only screen and (max-height: 430px) {
  .cartNoItems {
    height: 100%;
    padding-bottom: 50px;
  }
}
@media only screen and (min-height: 985px) {
  .cartMain {
    height: 100vh;
  }
}
@media only screen and (max-width: 800px) {
  .bottomProductBoxData {
    height: 80px;
  }
}
@media only screen and (max-width: 630px) {
  .bottom {
    gap: 1rem;
  }
  .bottomProductBoxData {
    height: 90px;
  }
  .bottomProductBoxProduct,
  .bottomProductBoxPrice,
  .bottomProductBoxQuantity,
  .bottomProductBoxSubtotal {
    font-size: 0.7rem;
  }
  .bottomProductBoxDataProductName,
  .bottomProductBoxDataPrice,
  .bottomProductBoxDataSubtotal {
    font-size: 0.66rem;
    font-weight: 600;
  }
  .bottomProductBoxDataQuantityInput {
    font-size: 0.65rem;
  }
  .bottomProductBoxDataProduct {
    gap: 0.4rem;
  }
  .bottomProductBoxDataQuantity {
    padding-right: 25px;
  }
  .bottomProductBoxDataQuantityInput {
    height: 30px;
    width: 38px;
  }
}
