.skele {
  margin-bottom: 100px;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartMain {
  height: 100%;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.852);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cartNoItems {
  height: 100vh;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.852);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: all 0.5s;
}
/* When no products are there */
.noLikedItemsBox,
.noLikedItems {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 30px 0px 0px;
}
.noLikedItemsOne {
  font-size: 2.6rem;
  padding-left: 50px;
  font-weight: 600;
  cursor: default;
}
.noLikedItemsTwo {
  font-size: 1.8rem;
  padding-left: 50px;
  font-weight: 500;
  cursor: default;
}
.navigateToHomeButtonBox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigateToHomeButton {
  height: 40px;
  width: 150px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #db4444;
  cursor: default;
}
.topLeft {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 50px 40px 0px;
  cursor: default;
  font-weight: 600;
}
.home {
  height: auto;
  width: auto;
  color: grey;
  font-size: 1rem;
}
.cart {
  height: auto;
  width: auto;
  color: black;
  font-size: 1rem;
}
.bottom {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2.7rem;
  padding-left: 4%;
  margin-top: 50px;
  margin-bottom: 80px;
}
/* Heading and Data*/
.bottomProductBox,
.bottomProductBoxData {
  height: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -3px -2px 5px rgba(0, 0, 0, 0.129);
  border-radius: 5px;
  padding: 0 15px;
  font-size: 1rem;
  cursor: default;
  transition: height 0.3s linear;
}
/* Heading */
.bottomProductBoxProduct,
.bottomProductBoxPrice,
.bottomProductBoxQuantity,
.bottomProductBoxSubtotal {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1rem;
  font-weight: 600;
}
.bottomProductBoxDataQuantityInputBox {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.bottomProductBoxDataQuantityInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 6px;
  height: 35px;
  width: 50px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  font-size: 1.1rem;
}
.buttonBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 2px;
}
.increaseNumber,
.decreaseNumber {
  border-radius: 20px;
  position: relative;
  border: none;
  font-size: 0.762rem;
  background: transparent;
}
.increaseNumber {
  top: 2px;
}
.decreaseNumber {
  top: 1px;
}
.bottomProductBoxProduct {
  width: 30%;
  justify-content: center;
  padding-right: 11%;
}
/* Data */
.bottomProductBoxDataProduct,
.bottomProductBoxDataPrice,
.bottomProductBoxDataQuantity,
.bottomProductBoxDataSubtotal {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bottomProductBoxDataProduct {
  width: 30%;
  gap: 2rem;
}
.bottomProductBoxDataProductImg {
  height: 100%;
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomProductBoxData:hover .closeBox {
  opacity: 1;
}
.closeBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 0;
  left: -10px;
  border-radius: 10px;
  background-color: #db4444;
  font-size: 0.8rem;
  color: white;
  font-weight: 800;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.bottomProductBoxDataProductImg img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.bottomProductBoxDataProductName,
.bottomProductBoxDataPrice {
  font-size: 0.94rem;
  font-weight: 600;
}
.bottomProductBoxDataQuantity {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 11px;
}
.bottomUp,
.bottomCenter {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.7rem;
}
.bottomUpLeftGoToHome {
  height: 40px;
  width: 150px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.751);
  font-weight: 600;
  font-size: 0.9rem;
}
.bottomCenterLeft,
.bottomCenterRight {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomCenterLeftCoupon {
  height: 40px;
  width: 230px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid black;
  background: transparent;
  padding-left: 10px;
}
.bottomCenterRightApplyCoupon {
  height: 40px;
  width: 150px;
  background-color: #db4444;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.751);
}
.bottomDown {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomDownBox {
  padding-top: 20px;
  height: 290px;
  width: 90%;
  max-width: 450px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 20px;
  font-weight: 600;
  gap: 0.65rem;
  cursor: default;
}
.bottomDown hr {
  width: 95%;
}
.bottomDownCartTotal {
  font-size: 1.2rem;
}
.bottomDownSubTotal,
.bottomDownShipping,
.bottomCoupon,
.bottomDownTotal {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 25px;
}
.right {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.bottomDownButton {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.processToCheckout {
  height: 40px;
  width: 150px;
  color: white;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #db4444;
}
@media only screen and (max-height: 430px) {
  .cartNoItems {
    height: 100%;
    padding-bottom: 50px;
  }
}
@media only screen and (min-height: 985px) {
  .cartMain {
    height: 100vh;
  }
}
@media only screen and (max-width: 800px) {
  .bottomProductBoxData {
    height: 80px;
  }
}
@media only screen and (max-width: 630px) {
  .bottomDownBox,
  .bottomCenterLeftCoupon {
    font-size: 0.8rem;
  }
  .bottom {
    gap: 1rem;
  }
  .bottomProductBox,
  .bottomProductBoxData {
    width: 96%;
  }
  .bottomProductBoxData {
    height: 90px;
  }
  .bottomProductBoxProduct,
  .bottomProductBoxPrice,
  .bottomProductBoxQuantity,
  .bottomProductBoxSubtotal {
    font-size: 0.7rem;
  }
  .bottomProductBoxDataProductName,
  .bottomProductBoxDataPrice,
  .bottomProductBoxDataSubtotal {
    font-size: 0.66rem;
    font-weight: 600;
  }
  .buttonBox {
    right: 0px;
  }
  .increaseNumber {
    top: 2px;
    font-size: 1rem;
  }
  .decreaseNumber {
    top: 4px;
    font-size: 1rem;
  }
  .bottomProductBoxDataQuantityInput {
    height: 40px;
    width: 36px;
    font-size: 0.9rem;
  }
  .bottomProductBoxDataProduct {
    gap: 0.4rem;
  }
  .bottomProductBoxDataQuantity {
    padding-right: 25px;
  }
}
@media only screen and (max-width: 450px) {
  .bottomDown {
    width: 96%;
  }
  .bottomUp {
    justify-content: flex-end;
    padding-right: 20px;
  }
  .bottomCenter {
    flex-direction: column;
    align-items: flex-start;
  }
  .bottomCenterLeftCoupon {
    cursor: auto;
  }
  .bottomUpLeftGoToHome,
  .bottomCenterLeftCoupon,
  .bottomCenterRightApplyCoupon,
  .processToCheckout {
    cursor: pointer;
    font-size: 0.8rem;
  }
  .processToCheckout {
    padding-left: -25px;
  }
}
