* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  color: white;
  height: 350px;
  width: 100%;
  background-color: rgb(30, 30, 30);
  padding-top: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 0.52rem;
}
/* .footerDataOne {
  height: 100%;
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
} */
.exclusive,
.support,
.downloadApp,
.account,
.quickLink {
  font-size: 22px;
  font-weight: bold;
}
a {
  color: white;
  text-decoration: none;
}
.footerDataOneItems,
.footerDataTwoItems,
.footerDataThreeItems,
.footerDataFourItems,
.footerDataFiveItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.85rem;
}
.footer li {
  cursor: default;
}
.mailTransfer {
  position: relative;
}
.email {
  height: 25px;
  width: 140px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid white;
}
.sendArrow {
  cursor: pointer;
  height: 25px;
  border-radius: 1px 5px 5px 0;
  padding-left: 7px;
  width: 25px;
  background-color: rgb(30, 30, 30);
  position: absolute;
  top: 0px;
  right: -27px;
  border: 1px solid white;
}
.images {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.qrcode {
  height: 60px;
  width: 60px;
}
.stores {
  height: 70px;
  width: 110px;
  cursor: pointer;
}
.socialLinks {
  height: 30px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.facebook,
.twitter,
.instagram,
.linkedIn {
  font-size: 24px;
  margin-right: 8px;
  cursor: pointer;
}
@media only screen and (max-width: 860px) {
  .footer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(1, 230px);
    grid-template-columns: repeat(3, 0fr);
  }
}
@media only screen and (max-width: 540px) {
  .footer {
    grid-template-columns: repeat(2, 0fr);
  }
  .footerDataFiveItems {
    position: relative;
    left: 90px;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 380px) {
  .footer {
    grid-template-columns: repeat(1, 0fr);
    grid-template-rows: repeat(4, 220px);
  }
  .footerDataFourItems {
    margin-top: 15px;
  }
  .footerDataFiveItems {
    position: relative;
    left: 0px;
    margin-top: 0px;
  }
}
