.skele {
  margin-bottom: 100px;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rows {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(244, 244, 244, 0.852);
  position: relative;
}
.rowOne {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.carousalOne {
  height: auto;
  max-width: 1000px;
  width: 90%;
}
.rowTwo,
.rowThree,
.rowFour,
.rowFive,
.rowSix {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  gap: 0.9rem;
}
.todaySpecialOffers {
  height: 30px;
  width: 150px;
  display: flex;
  gap: 0.8rem;
}
.todaySpecialOffersLeft {
  height: 100%;
  width: auto;
  border-left: 14px solid #db4444;
  border-radius: 3px;
}
.todaySpecialOffersRight {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 600;
  color: #db4444;
}
.flashSalesBox {
  height: 70px;
  width: 38%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flashSales {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
}
.offerTimePeriod {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.daysShowDays {
  font-size: 0.75rem;
  font-weight: 700;
}
.daysShowNumber {
  font-weight: 700;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.semicolon {
  color: #db4444;
}
.todaySpecialOffersItems {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.multiCarousal {
  height: auto;
  width: 100%;
  max-width: 2440px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.5s;
}
.rowSixMultiCarousal {
  height: auto;
  width: 100%;
  max-width: 2440px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  flex-wrap: wrap;
  gap: 2rem;
}
.rowTwoOffersData {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 35px;
  transition: all 0.5s;
}
.rowSixOffersData {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 35px;
  transition: all 0.5s;
}
.rowTwoOffersDataBox {
  height: 350px;
  width: 250px;
  border-radius: 5px;
  transition: all 0.5s;
}
.rowTwoOffersDataBoxTop {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6.5rem;
  border-radius: 5px 5px 0 0;
  background-color: white;
}
.rowTwoOffersDataBoxTopDiscount {
  height: 23px;
  width: 50px;
  border-radius: 5px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #db4444;
}
.rowTwoOffersDataBoxTopLike {
  height: 23px;
  width: 23px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}
.heartActive {
  color: red;
}
.heartDeActive {
  color: rgb(0, 0, 0);
}
.rowTwoOffersDataBoxCenter {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0 0 5px 5px;
}
.rowTwoOffersDataBoxCenter img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}
.addToCartActive {
  cursor: pointer;
  height: auto;
  width: 100%;
  color: white;
  font-size: 1.02rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.886);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  transition: backGround-color 0.3s ease-in-out;
}
.addToCartActive:hover {
  background-color: #db4444;
}
.addToCartDeActive {
  cursor: pointer;
  height: auto;
  width: 100%;
  color: white;
  font-size: 1.02rem;
  font-weight: bold;
  background-color: #db4444;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  transition: backGround-color 0.3s ease-in-out;
}
.rowTwoOffersDataBoxBottom {
  height: auto;
  width: 100%;
  margin: 10px 0 0 5px;
}
.rowTwoOffersDataBoxBottomName {
  font-size: 1.05rem;
  font-weight: 700;
}
.rowTwoOffersDataBoxBottomCost {
  height: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 600;
}
.rowTwoOffersDataBoxBottomCostDiscount {
  height: auto;
  width: auto;
  color: #db4444;
}
.rowTwoOffersDataBoxBottomCostOriginal {
  height: auto;
  width: auto;
  color: black;
  text-decoration: line-through;
}
.multiCarousal {
  margin-top: 20px;
}
.allProductsBtn,
.bestSellingProductsButton,
.rowSixAllProductsBtn {
  height: 40px;
  width: 150px;
  border-radius: 4px;
  border: none;
  background-color: #db4444;
  color: white;
  cursor: pointer;
  font-size: 0.85rem;
}
.rowSixAllProductsBtn {
  margin-top: 40px;
}
.bestSellingProductsButton {
  margin-right: 30px;
}
.browseByCategory,
.bestSellingProducts,
.exploreOurProducts {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
}
.rowThreeDataBoxDataItems {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.rowThreeDataBox {
  height: 100%;
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}
.rowThreeDataBoxes {
  cursor: default;
  height: 120px;
  width: 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgba(155, 155, 155, 0.674);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.rowThreeDataBoxes:hover {
  background-color: #db4444;
  color: white;
}
.rowThreeDataBoxIcons {
  font-size: 2.6rem;
}
.rowThreeDataBoxNames {
  font-size: 1rem;
}
.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px);
  top: calc(30% + 1px);
}
.react-multiple-carousel__arrow--right {
  right: calc(0% + 1px);
  top: calc(30% + 1px);
}
.rowFourBestSellingBox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.speakerBox {
  transition: all 0.5s;
  height: 250px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.886);
}
.rowFive {
  width: 100%;
  padding: 30px 50px 0;
}
.speakerBoxLeft,
.speakerBoxRight {
  height: 100%;
  width: 50%;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  gap: 1.2rem;
}
.speakerBoxLeftCategories {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(0, 219, 0);
  font-size: 0.9rem;
  font-weight: bolder;
}
.speakerBoxLeftCategories::selection {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 219, 0);
}
.speakerBoxLeftEnhance {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 2rem;
}
.speakerBoxLeftTop::selection,
.speakerBoxLeftBottom::selection {
  color: black;
  background-color: #fff;
}
.speakerBoxLeftBuyBtnBox {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.speakerBoxLeftBuyBtn {
  height: 40px;
  width: 150px;
  background-color: rgb(52, 255, 52);
  font-size: 1rem;
  color: white;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.speakerBox img {
  transition: all 0.3s;
  width: 530px;
  aspect-ratio: 4/3;
  filter: drop-shadow(30px 20px 75px white);
}
.upArrow {
  height: auto;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.upArrowBtn {
  background-color: rgba(0, 0, 0, 0.886);
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  position: fixed;
  bottom: 15px;
  right: 10px;
  font-size: 1.2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
/* //////////////////////////////////  */
.rowTwoOffersData {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 35px;
  transition: all 0.5s;
}
.rowTwoOffersDataBox {
  height: 350px;
  width: 250px;
  border-radius: 5px;
  transition: all 0.5s;
}
.rowTwoOffersDataBoxTop {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6.5rem;
  border-radius: 5px 5px 0 0;
  background-color: white;
}
.rowTwoOffersDataBoxTopDiscount {
  height: 23px;
  width: 50px;
  border-radius: 5px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #db4444;
}
.rowTwoOffersDataBoxTopLike {
  height: 23px;
  width: 23px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}
.heartActive {
  color: red;
}
.heartDeActive {
  color: rgb(0, 0, 0);
}
.rowTwoOffersDataBoxCenter {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0 0 5px 5px;
}
.rowTwoOffersDataBoxCenter img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}
.rowTwoOffersDataBoxBottom {
  height: auto;
  width: 100%;
  margin: 10px 0 0 5px;
}
.rowTwoOffersDataBoxBottomName {
  font-size: 1.05rem;
  font-weight: 700;
}
.rowTwoOffersDataBoxBottomCost {
  height: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 600;
}
.rowTwoOffersDataBoxBottomCostDiscount {
  height: auto;
  width: auto;
  color: #db4444;
}
.rowTwoOffersDataBoxBottomCostOriginal {
  height: auto;
  width: auto;
  color: black;
  text-decoration: line-through;
}
.rowSeven {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 60px;
  transition: all 0.5s;
}
.rowSevenFirstBox,
.rowSevenSecondBox,
.rowSevenThirdBox {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.top {
  height: 100%;
  width: auto;
}
.outerCircle {
  height: 53px;
  width: 53px;
  background-color: grey;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerCircle {
  color: white;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.center {
  height: 100%;
  width: auto;
  font-size: 1.25rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom {
  height: 100%;
  width: auto;
  font-size: 0.79rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* //////////////////////////////////  */
@media only screen and (max-width: 1020px) {
  .flashSalesBox {
    width: 60%;
  }
  .speakerBox img {
    width: 445px;
    aspect-ratio: 4/3;
    filter: drop-shadow(30px 20px 75px white);
  }
}
@media only screen and (max-width: 900px) {
  .speakerBox {
    height: 430px;
    flex-direction: column-reverse;
    position: relative;
  }
  .speakerBoxRight {
    margin-left: -100px;
  }
  .speakerBoxLeft {
    margin-bottom: 20px;
  }
  .speakerBox img {
    width: 300px;
  }
  .speakerBoxLeftEnhance {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 660px) {
  .flashSalesBox {
    width: 70%;
  }
  .flashSales {
    font-size: 1.3rem;
  }
  .daysShowDays {
    font-size: 0.65rem;
  }
  .daysShowNumber {
    font-size: 1.12rem;
  }
  .offerTimePeriod {
    align-items: center;
  }
  .rowSeven {
    flex-direction: column;
    gap: 3rem;
  }
  .addToCartActive {
    background-color: rgba(0, 0, 0, 0.886);
  }
  .addToCartActive:hover {
    background-color: rgba(0, 0, 0, 0.886);
  }
  .addToCartDeActive {
    background-color: #db4444;
  }
  .addToCartDeActive:hover {
    background-color: #db4444;
  }
}
@media only screen and (max-width: 500px) {
  .flashSalesBox,
  .browseByCategory,
  .bestSellingProducts,
  .exploreOurProducts {
    flex-direction: column;
    padding-left: 20px;
    gap: 0.6rem;
  }
  .offerTimePeriod {
    justify-content: flex-start;
  }
  .rowTwoOffersData {
    justify-content: center;
    margin-left: 0px;
  }
  .bestSellingProducts {
    font-size: 1.25rem;
  }
  .bestSellingProductsButton {
    width: 100px;
    margin-right: 20px;
  }
  .speakerBox img {
    width: 240px;
    position: absolute;
    top: -60px;
  }
  .speakerBoxLeftEnhance {
    font-size: 1.6rem;
  }
  .speakerBoxLeft {
    margin-left: 0;
  }
  .upArrowBtn {
    cursor: default;
  }
  .rowOne,
  .rowTwo,
  .rowThree,
  .rowFour,
  .rowSix {
    padding-left: 0;
  }
  .rowSixOffersData {
    margin-left: 0;
  }
  .rowSixOffersDataBoxBottomName {
    font-size: 0.8rem;
  }
  .todaySpecialOffers {
    padding-left: 10px;
  }
  .rowSixMultiCarousal {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 4rem;
  }
  .rowSixOffersData {
    height: 150px;
    max-width: 80%;
    width: auto;
    background-color: #fff;
    padding-left: 0;
  }
  .rowSixOffersDataBox {
    height: 40%;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
  }
  .rowSixOffersDataBoxTop {
    height: 60%;
    z-index: 1;
    position: absolute;
    top: -50px;
    left: 0;
  }
  .rowSixOffersDataBoxCenter {
    position: relative;
  }
  .rowSixOffersDataBoxCenter img {
    height: 80px;
    width: 80px;
  }
  .rowSixAddToCartActive,
  .rowSixAddToCartDeActive {
    cursor: default;
    position: absolute;
    top: 100px;
  }
  .rowSixAddToCartActive:hover {
    background-color: black;
  }
}
