.top {
  height: 100%;
  width: 100%;
  max-width: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1rem;
  padding: 50px 0px 30px;
  cursor: default;
  font-weight: 600;
}
.home {
  height: auto;
  width: auto;
  color: grey;
  font-size: 1.1rem;
}
.myAccount {
  height: auto;
  width: auto;
  color: black;
  font-size: 1.1rem;
}
