.skele {
  margin-bottom: 100px;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUp {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px 0;
  background-color: rgba(244, 244, 244, 0.852);
  position: relative;
}
.imageBox {
  height: 90%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginImage {
  width: 555px;
  aspect-ratio: 21 / 19;
  transition: all 0.5s;
}
.form {
  height: 500px;
  min-height: 87%;
  width: 400px;
  max-width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUpBox {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.top {
  cursor: default;
  height: auto;
  width: 100%;
}
.top > h2 {
  font-size: 1.98rem;
}
.top > h4 {
  font-size: 1.1rem;
  margin-left: 3px;
}
.center {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 80px;
  transition: margin 0.5s;
}
.passwordBox {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.passwordBoxShowPass {
  position: absolute;
  right: 5px;
  font-size: 1.25rem;
}
.nameInput,
.emailOrPhoneInput,
.passwordInput {
  outline: none;
  height: 20px;
  width: 310px;
  border: none;
  padding-left: 10px;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 3px;
  padding-bottom: 5px;
  background-color: rgba(244, 244, 244, 0.852);
  border-bottom: 1.6px solid rgba(0, 0, 0, 0.442);
}
.bottom {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.googleSignIn {
  height: 40px;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createAccBtn,
.googleLoginBtn {
  cursor: pointer;
  height: 40px;
  width: 310px;
  border: none;
  font-size: 14px;
  margin-left: 3px;
  border-radius: 3px;
  background-color: #db4444;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  height: auto;
  width: 100%;
  display: flex;
  margin-left: 5px;
  gap: 0.65rem;
  cursor: default;
}
.loginRedirect {
  cursor: pointer;
  border-bottom: 1px solid black;
}
.blur {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px 0;
  background-color: rgba(244, 244, 244, 0.852);
  filter: blur(5px);
  position: relative;
}
.topLoader {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 999;
}
.spinner {
  color: #db4444;
}
.serverBusyQuotes {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.5s linear;
}
.serverBusyQuotesBox {
  height: 50px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: default;
  z-index: 9999;
  top: 90%;
  left: 33%;
  border-radius: 10px;
  font-size: 1.12rem;
  background-color: rgba(49, 48, 48, 0.712);
  color: rgba(255, 255, 255, 0.912);
  animation: skeletonLoading 1s linear infinite alternate;
  transition: all 0.5s linear;
  padding: 5px;
}

@keyframes skeletonLoading {
  from {
    background-color: hsla(0, 0%, 25%, 0.656);
  }
  to {
    background-color: hsla(210, 9%, 9%, 0.656);
  }
}
@media only screen and (max-width: 1030px) {
  .loginImage {
    width: 425px;
    aspect-ratio: 17 / 20;
  }
  .signUpBox {
    width: 90%;
  }
  .top > h2 {
    font-size: 1.68rem;
  }
  .top > h4 {
    font-size: 1rem;
    margin-left: 3px;
  }
  .nameInput,
  .emailOrPhoneInput,
  .passwordInput {
    font-size: 14px;
    width: 260px;
  }
  .googleSignIn,
  .createAccBtn {
    width: 260px;
  }
  .login {
    font-size: 14px;
  }
  .serverBusyQuotesBox {
    left: 25%;
  }
}
@media only screen and (max-width: 960px) {
  .center {
    margin-right: 40px;
  }
}
@media only screen and (max-width: 800px) {
  .serverBusyQuotesBox {
    left: 10%;
  }
  .center {
    margin-right: 20px;
  }
}
@media only screen and (max-height: 690px) {
  .signUpBox {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imageBox {
    display: none;
  }
  .form {
    width: 100%;
    max-width: 100%;
  }
  .top,
  .center,
  .bottom,
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .login {
    justify-content: center;
    flex-direction: row;
  }
}
@media only screen and(max-height: 1068px) {
  .signup {
    height: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .signUp {
    height: 100%;
    width: 90%;
    justify-content: center;
    border: 1px solid black;
    margin: 10px 0 20px 20px;
    border-radius: 10px;
  }
  .imageBox {
    display: none;
  }
  .form {
    width: 100%;
    max-width: 100%;
  }
  .signUpBox {
    justify-content: center;
  }
  .top,
  .center,
  .bottom,
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .login {
    justify-content: center;
    flex-direction: row;
  }
}
@media only screen and (max-width: 600px) {
  .serverBusyQuotes {
    height: 93vh;
  }
  .serverBusyQuotesBox {
    margin-bottom: 150px;
    left: 10%;
    width: 80%;
    max-width: 350px;
    font-size: 1rem;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
